<h1>Orders</h1>
<button><a href="/">Back</a></button>
<table>
    <tr>
        <th>Orders</th>
    </tr>

    <table>
        <tr>
            <th>Order ID</th>
            <th>Status</th>
            <th>Amount</th>
        </tr>
        {{#each order}}
        <tr>
            <td>{{orderId}}</td>
            <td>{{status}}</td>
            <td>{{amount}}</td>
            <td><input type="button" value="pay">
            <input type="button" value="collect"></td>
        </tr>
       
        {{/each}}
    </table>

</table>