body {
	background: white;
	font-family: arial, sans-serif;
	background-color: #cbdfbd;
	font-size: 0.75em;
	font-family: 'Poiret One', cursive;
}

.btn, .payBtns {
	cursor: pointer;
	padding: 1em;
	margin: 1em;
	font-size: 1em;
	background-color: #7dc7ee;
	border-radius: 0.25em;
	border: 0 solid snow;
	color: snow;
}

.container {
	background-color: #f6f4d2;
	padding: 1em;
	margin: auto;
	width: 80%;
	border-radius: 1em;
}

.addMedium {
	padding: 0.1em;
	margin: 0.25em;
	font-size: 0.75em;
	background-color: #3FA9E2;
}

.btn-sm {
	padding: 0.25em;
	margin: 0.25em;
	font-size: 0.75em;
	background-color: #3FA9E2;
}

.btn-med {
	padding: 0.75em;
	margin: 0.75em;
	font-size: 0.75em;
	background-color: #3FA9E2;
}

.header {
	color: #95cfee;
	margin-left: 35%;
	text-align: center;
	font-size: xx-large;
	display: flex;
	font-family: 'Satisfy', cursive;
}

.pizzaImg {
	margin-left: -70%;
	width: 20%;
}

.back {
	margin: 2%;
	font-size: x-large;
}

.orderBox {
	display: flex;
}

.hidden {
	display: none;
}

.plus, .minus {
	cursor: pointer;
	padding: 0.50em;
	margin: 0.25em;
	text-align: center;
	background-color: #7dc7ee;
	border-style: none;
	color: white;
	border-radius: 0.25em;
}

.orders {
	text-align: right;
	font-size: larger;
}

.cart {
	width: 25%;
	text-align: center;
	padding: 1em;
	border: 0.4em solid;
	border-color: #d4e09b;
	border-radius: 0.25em;
}

.cart table {
	border-collapse: collapse;
	width: 100%;
}

.cart td {
	border: 2px solid;
	border-color: #d4e09b;
}

.cart th, td {
	padding: 15px;
}

.cart img {
	width: 2em;
}

.info {
	height: 15em;
}

.small {
	background-color: #db91ab;
}

.medium {
	background-color: #e4c278;
}

.large {
	background-color: #e99c7b;
	flex: 2;
}

.small img {
	width: 4em;
}

.medium img {
	width: 5em;
}

.large img {
	width: 7em;
}

.footer {
	
	display: flex;
}

.hidden {
	display: none;
}

.pizza {
	margin: 0.5em;
	padding: 0.5em;
	border-radius: 1em;
	width: 40%;
	display: inline-block;
}

select {
	padding: 0.2em;
	font-size: 1.5em;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

input[type=text], input[type=number], textarea {
	padding: 0.2em;
	font-size: 1.5em;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

input[type=submit], button {
	padding: 1em;
	font-weight: bold;
	font-size: 1em;
}

table, td, th {
	border: 1px solid snow;
	text-align: left;
}

table {
	border-collapse: collapse;
	width: 80%;
}

th, td {
	padding: 15px;
}
.contact{
	text-align: right;
}

@media (min-width: 768px) {
	.cart {
		width: 25%;
		/* width: 40%; */
		/* margin: auto; */
		margin: 1em;
	}
	.pizzas {
		display: flex;
	}
	body {
		font-size: 1em;
	}

}